//Colors
$headingColor: hsl(238, 29%, 16%);
$textColor: hsl(237, 12%, 33%);
$accordionColor: hsl(240, 5%, 91%);
$dividerColor: hsl(240, 6%, 50%);
$activeStatesColor: hsl(14, 88%, 65%);
$bodyColor: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

//Fonts
$base-font-size: 0.75rem;
$font-primary: 'Kumbh Sans', sans-serif;
$weight-normal: 400;
$weight-bold: 700;

//Radius
$radius: 1rem;

//breakpoint
$desktopLayout: 375px;

/* global styles */
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: $bodyColor;
  font-family: $font-primary;
  color: $textColor;
  font-weight: $weight-normal;
  line-height: 1.5;
  font-size: $base-font-size; 
  padding: 2rem;
}

h1 {
  color:$headingColor;
  font-weight: $weight-bold;
  font-size: $base-font-size*2.5;
  text-align:center;

@media only screen and (min-width: $desktopLayout) {
  font-size: $base-font-size*2;
  margin: 0;
  }
}

/*layout*/

.isResponsive {
  display: flex;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
}

.component {
  max-width: 800px;
  width: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $accordionColor;
}

@media only screen and (min-width: $desktopLayout) {
  .container {
    flex-direction: row;
    border-radius: 1rem;
  }
  
}

.accordion {
  width: 100%;
  background: $accordionColor;
  padding: 2rem;
  border-radius: $radius;
  flex-direction: column;
  text-align: left;
}

@media only screen and (min-width: $desktopLayout) {
  .accordion {
    width: 50%;
    background: none;
    border-radius: 0;
    padding-top: 2rem;
  }
}

hr {
  width: 100%;
  margin: 0;
  border: 0.5px solid $dividerColor;
}

.accordionItem {
  position: relative;
  .label {
    font-size: $base-font-size*1.1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    img{
      display: block;
      width: 10px;
      height:10px;
    }
    &:hover,
    &:focus-visible{
    color: $activeStatesColor;
  }
}
  .accordionItemContent {
    position: relative;
    height: 0;
    margin: 0;
    text-align: justify;
    overflow: hidden;
    transition: 0.1s;
  }
  &.active .label p{
    color: $headingColor;
    font-weight: $weight-bold;
  }
  &.active .label img {
    transform: rotate(180deg);
  }
  &.active .accordionItemContent {
    height: auto;
    padding-bottom: 0.5rem;
  }
}

/*images*/

.image {
  width: 100%;
  min-height: 150px;
  margin-bottom: -30%;
  position: relative;
}

.backgroundMobile {
  display: block;
  position: absolute;
  width: 80%;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%)
}

.foregroundMobile {
  display: block;
  position: absolute;
  width: 80%;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%);
}

.backgroundDesktop {
  display: none;
}
.foregroundDesktop {
  display: none;
}
.boxDesktop {
  display: none;
}

@media only screen and (min-width: $desktopLayout) {
  .image {
    width: 50%;
    min-height: max-content;
    margin-bottom: 0;
  }

  .imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
  }

  .backgroundDesktop {
    display: block;
    width: 150%;
    position: absolute;
    left: -65%;
    bottom: 50%;
    transform: translate(0, 55%);
  }

  .backgroundMobile {
    display: none;
  }

  .foregroundDesktop {
    display: block;
    width: 100%;
    position: absolute;
    left: -15%;
    bottom: 50%;
    transform: translate(0, 50%);
  }

  .foregroundMobile {
    display: none;
  }

  .boxDesktop {
    display: block;
    position: absolute;
    width: 40%;
    left: 0;
    bottom: calc(50%);
    transform: translate(-50%, 60%);
  }
}
